[submodule "networks/polygon/assets/polygon-tokenlist"]
	path = networks/polygon/assets/polygon-tokenlist
	url = git@github.com:map3xyz/polygon-tokenlist.git
[submodule "networks/ethereum/assets/ethereum-tokenlist"]
	path = networks/ethereum/assets/ethereum-tokenlist
	url = git@github.com:map3xyz/ethereum-tokenlist.git
[submodule "networks/avalanchec/assets/avalanchec-tokenlist"]
	path = networks/avalanchec/assets/avalanchec-tokenlist
	url = git@github.com:map3xyz/avalanchec-tokenlist.git
[submodule "networks/arbitrum/assets/arbitrum-tokenlist"]
	path = networks/arbitrum/assets/arbitrum-tokenlist
	url = git@github.com:map3xyz/arbitrum-tokenlist.git
[submodule "networks/optimism/assets/optimism-tokenlist"]
	path = networks/optimism/assets/optimism-tokenlist
	url = git@github.com:map3xyz/optimism-tokenlist.git
[submodule "networks/fantom/assets/fantom-tokenlist"]
	path = networks/fantom/assets/fantom-tokenlist
	url = git@github.com:map3xyz/fantom-tokenlist.git
[submodule "networks/celo/assets/celo-tokenlist"]
	path = networks/celo/assets/celo-tokenlist
	url = git@github.com:map3xyz/celo-tokenlist.git
[submodule "networks/aurora/assets/aurora-tokenlist"]
	path = networks/aurora/assets/aurora-tokenlist
	url = git@github.com:map3xyz/aurora-tokenlist.git
[submodule "networks/classic/assets/classic-tokenlist"]
	path = networks/classic/assets/classic-tokenlist
	url = git@github.com:map3xyz/classic-tokenlist.git
[submodule "networks/gochain/assets/gochain-tokenlist"]
	path = networks/gochain/assets/gochain-tokenlist
	url = git@github.com:map3xyz/gochain-tokenlist.git
[submodule "networks/heco/assets/heco-tokenlist"]
	path = networks/heco/assets/heco-tokenlist
	url = git@github.com:map3xyz/heco-tokenlist.git
[submodule "networks/kcc/assets/kcc-tokenlist"]
	path = networks/kcc/assets/kcc-tokenlist
	url = git@github.com:map3xyz/kcc-tokenlist.git
[submodule "networks/meter/assets/meter-tokenlist"]
	path = networks/meter/assets/meter-tokenlist
	url = git@github.com:map3xyz/meter-tokenlist.git
[submodule "networks/oasis/assets/oasis-tokenlist"]
	path = networks/oasis/assets/oasis-tokenlist
	url = git@github.com:map3xyz/oasis-tokenlist.git
[submodule "networks/okc/assets/okc-tokenlist"]
	path = networks/okc/assets/okc-tokenlist
	url = git@github.com:map3xyz/okc-tokenlist.git
[submodule "networks/ronin/assets/ronin-tokenlist"]
	path = networks/ronin/assets/ronin-tokenlist
	url = git@github.com:map3xyz/ronin-tokenlist.git
[submodule "networks/smartchain/assets/smartchain-tokenlist"]
	path = networks/smartchain/assets/smartchain-tokenlist
	url = git@github.com:map3xyz/smartchain-tokenlist.git
[submodule "networks/thundertoken/assets/thundertoken-tokenlist"]
	path = networks/thundertoken/assets/thundertoken-tokenlist
	url = git@github.com:map3xyz/thundertoken-tokenlist.git
[submodule "networks/tomochain/assets/tomochain-tokenlist"]
	path = networks/tomochain/assets/tomochain-tokenlist
	url = git@github.com:map3xyz/tomochain-tokenlist.git
[submodule "networks/wanchain/assets/wanchain-tokenlist"]
	path = networks/wanchain/assets/wanchain-tokenlist
	url = git@github.com:map3xyz/wanchain-tokenlist.git
[submodule "networks/xdai/assets/xdai-tokenlist"]
	path = networks/xdai/assets/xdai-tokenlist
	url = git@github.com:map3xyz/xdai-tokenlist.git
[submodule "networks/goerli/assets/goerli-tokenlist"]
	path = networks/goerli/assets/goerli-tokenlist
	url = git@github.com:map3xyz/goerli-tokenlist.git
